body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

.bg-image {
  width: 100%;
  height: 100vh;
  background: url("./assets/img/me.jpg") top right;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

.bg-image-filter {
  width: 100%;
  height: 100vh;
  background-color:rgba(255, 255, 255, 0.69);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.intro-container {
  height: calc( 100vh - 56px );
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  padding: 20px;
  position: relative;
  transition: all 2s;
}

.fade-in{
  animation: 2s ease 0s normal forwards 1 fadeIn;
  -webkit-animation: 2s ease 0s normal forwards 1 fadeIn;
  -moz-animation: 2s ease 0s normal forwards 1 fadeIn;
  -o-animation: 2s ease 0s normal forwards 1 fadeIn;
  -ms-animation: 2s ease 0s normal forwards 1 fadeIn;
}

.fade-in-delay {
  animation-delay: 1s;
  opacity: 0;
}
.delay-skills {
  animation-delay: 0.2s;
  opacity: 0;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.intro-container h1{
  font-size: 28px;
}

.intro-container p {
  color: #888;
}

.intro-container a.btn-primary{
  width: 125px;
  margin: 10px auto;
  background-color: #34b7a7;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 25px;
  font-variant: small-caps;
}

.intro-container a.btn-primary:hover {
  background-color: #51cdbc;
  border: none;
  outline: none;
}

.intro-container a.btn:not(:disabled):not(.disabled):active, .intro-container a.btn-primary:focus {
  background-color: #51cdbc;
  border: none;
  outline: none;
  box-shadow: none;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.social-links {
  position: absolute;
  left: 0;
  bottom: 25px;
  width: 100%;
  text-align: center;
  z-index: 1;
  opacity: 0;
}

.social-links a {
  color: #34b7a7;
  font-size: 25px;
}

.social-links a+a {
  margin-left: 5px;
}

.about.social-links {
  position: fixed;
}

.my-image {
  width: 100%;
}

.about h1{
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
}

.about li{
  list-style-type: none;
  text-align: left;
}

.about .description{
  text-align: left;
}

.about .skills{
  margin-top: 20px;
}

.about h1::after {
  content: '';
  position: absolute;
  display: block;
  width: 70px;
  height: 3px;
  background: #34b7a7;
  bottom: 0;
  left: calc(50% - 30px);
}